$theme-colors: (
    primary: #1E9B4F,
    primaryColor-2: #EAF1E9,
    primaryTextColor:#6EA280,
    primaryBgColor:#EAF1E9,
    grayColor:#718479,
    borderColor:#FDFBFB,



    mainBgColor:#FDFBFB,


    dark:#212830,
    danger: #D93939,
    success:#12B76A,
    warning:#F79009,
    warningBg:rgba(247, 144, 9, 0.10),
    placeholder: #6E7887,
    white:#ffffff,
    textBanner:#FDFCFF,

    selectionBg: #000,
    selectionColor: #fff,
    
    scrollTrackBg: #fff,
    scrollThumbBg: #cdcdcd,

    grayOpacity-2: #F9FAFB,
    grayOpacity-3: #F2F2F2,
    grayOpacity-4: #E2E5E9,
    grayOpacity-5: #D1D5DB,
    grayOpacity-6: #98A1AE,
    grayOpacity-7: #A5A5A5,
    grayOpacity-8: #46515D,
    grayOpacity-9:#eee,
);